numpy==2.5.3
pandas==3.0.6
pillow==12.3.0
opencv-python-headless==5.0.0.93
onnxruntime==1.30.0
tqdm==4.70.1
matplotlib==3.11.2

jupyter==1.1.1
notebook==7.6.2
nbconvert==7.17.1
ipykernel==7.3.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.14.0+cpu
timm==1.0.29
